$font-family: "Graphik LCG";
$font-bold: 600;
$font-regular: 400;
$h-text-align: left;

$white: rgba(255, 255, 255, 1);
$extralight-gray: rgba(246, 248, 250, 1);
$light-gray: rgba(236, 239, 242, 1);
$mid-grey: rgba(194, 200, 205, 1);
$gray: rgba(131, 137, 143, 1);
$dark-gray: rgba(94, 100, 106, 1);
$black: rgba(25, 28, 31, 1);

$primary-disabled: rgba(171, 202, 230, 1);
$primary: rgba(42, 108, 234, 1);
$primary-hover: rgba(57, 125, 255, 1);

$dangerous: rgba(241, 54, 54, 1);
$green-success: rgba(37, 205, 130, 1);
