@use "typography";
@use "media";

.respondents_info {
  background-color: typography.$extralight-gray;

  .grid_wrapper {
    margin: 0 auto;
    padding: 1.25rem 1rem;
    max-width: 76rem;

    .info_grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;

      .info_block {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;

        .info_block_title {
          font-size: 1.125rem;
          line-height: 2rem;
          font-weight: typography.$font-bold;
        }
        .info_block_content {
          font-size: 1rem;
          line-height: 1.75rem;
          font-weight: typography.$font-regular;
        }
      }
    }

    @media screen and (min-width: media.$tablet) {
      .info_grid {
        padding: 2rem 1rem;
        gap: 2.5rem;
      }
    }
    @media screen and (min-width: media.$desktop) {
      .info_grid {
        padding: 4.25rem 1rem;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.25rem;
        column-gap: 2rem;
      }
    }
  }
}
