@use "colors";

.respondents_info {
  padding: 1.25rem 1rem;
  background-color: colors.$extralight-gray;

  .info_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    .info_block {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .info_block_title {
        font-weight: bold;
      }
      .info_block_content {
      }
    }
  }
}
