@use "colors";
@use "media";

.reviews {
  padding: 1rem;
  background-color: colors.$extralight-gray;

  .slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    .slide {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;
      transform: scale(0.98);
      &:hover {
        transform: scale(1);
      }
    }

    .slider_button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      padding: 1rem;
      z-index: 1;

      @media screen and (max-width: media.$desktop) {
        display: none;
      }

      &.slider_button_prev {
        left: 0;
      }
      &.slider_button_next {
        right: 0;
      }
    }
  }

  .review_header {
    text-align: center;
  }
  .review {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: white;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
    padding: 1.375rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    .review_author {
      display: flex;
      align-items: flex-start;
      gap: 0.75rem;
      .author_image {
        margin-top: 0.25rem;
        border-radius: 50%;
        max-width: 44px;
      }
      .author_name {
        font-weight: bold;
      }
      .author_city {
        font-size: small;
      }
    }
    .review_content {
      font-size: smaller;
    }
  }
  .slider_indicators {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    .dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: colors.$mid-grey;
      &.active {
        background-color: colors.$primary;
      }
    }
  }
}
